body{
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    display: flex;
    width: 100vw;
    flex-direction: column;
    height: 100vh; 
}

.top{
    background-color: aqua;
    width: 100vw;
    height: 20vh;
}
.middle{
    background-color: bisque;
    width: 100vw;
    height: 60vh;
    display: flex;
}
.bottom{
    background-color: forestgreen;
    width: 100vw;
    height: 20vh;
}
.l{
    background-color: turquoise;
    width: 20vw;
}
.m{
    display: flex;
    flex-direction: column;
    background-color: tomato;
    width: 60vw;
}
.r{
    background-color: turquoise;
    width: 20vw;
}

#o{
}
#t{
}
#tw{
}